@model TRiO.Models.Student
@{
    ViewBag.Title = "Register";
}

<div class="logoBG2">
    <div class="col-md-9 col-md-offset-2">
        <br /><br /><br /><br />
        <h1>Register</h1>
        <h3>Fill in the information below to register.</h3>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="form-group col-md-4">
                    <br />
                    <label for="FirstName">First Name:</label>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Enter First Name", autofocus = "" })
                </div>
                <div class="form-group col-md-3">
                    <br />
                    <label for="MiddleInitial">Middle Initial:</label>
                    @Html.TextBoxFor(m => m.MiddleInitial, new { @class = "form-control", @placeholder = "Enter Middle Initial" })
                </div>
                <div class="form-group col-md-4">
                    <br />
                    <label for="LastName">Last Name:</label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Enter Last Name" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <br />
                    <label for="Email">Email:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Email Address" })
                </div>
                <div class="form-group col-md-4 col-md-offset-3">
                    <br />
                    <label for="Phone">Phone:</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Enter Phone Number" })
                </div>
            </div>

            <div class="form-group">
                <br />
                <label for="StudentID">Student ID:</label>
                @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control", @placeholder = "Enter Student ID Number" })
            </div>
            <div class="form-group">
                <br />
                <label for="CardNumber">Card Number:</label>
                @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control", @placeholder = "Enter Card Number" })
                <small id="emailHelp" class="form-text text-muted">Swipe your card to enter this information.</small>
            </div>
            <br />
            <center>
                <button style="display: block; width: 100%; height: 75px;" class="anchorAlert btn btn-success btn-lg" type="button">REGISTER</button>
            </center>
        }
    </div>
</div>

@* popup modal *@
<div id='myModal' class='modal fade' aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>



        var TeamEditPostBackURL = '/Register/CreateStudent';
        $(function () {
            $(".anchorAlert").click(function () {
                var $buttonClicked = $(this);
                var firstName = $('#FirstName').val();
                var middleInitial = $('#MiddleInitial').val();
                var lastName = $('#LastName').val();
                var email = $('#Email').val();
                var phone = $('#Phone').val();
                var studentId = $('#StudentId').val();
                var cardNumber = $('#CardNumber').val();
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamEditPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: {
                        "fn": firstName,
                        "mi": middleInitial,
                        "ln": lastName,
                        "Email": email,
                        "Phone": phone,
                        "id": studentId,
                        "cn": cardNumber
                    },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });


            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
}